body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

html {
    height: 100%;
    min-height: 100%;
}
#titulo {
    margin-top: 2%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #7b2cbf;
    color: white;
    border-radius: 12px;
    margin: 2%;
    -webkit-box-shadow: 0 8px 30px 0 #5a189a;
    box-shadow: 0 2px 2px 0 #5a189a;
}

#txtCodigo {
    display: none;
}


#adicionarGanho {
    color: white;
    background-color: #1f9900;
    width:260px;
    text-align: center;
    left: 100%;
    top: 100%;
    padding: 8px 8px;
    margin-left:0px;
    margin-top:15px;
    border-radius: 20px;
    border-color:#1f9900;
    border: #1f9900;
    font-size: 15px;
    clear: both;
    display: inline-block; 
    -webkit-box-shadow: 0 8px 30px 0 #c5c5c5;
    box-shadow: 0 3px 6px 0 #c5c5c5;
}
#adicionarGasto {
    color: white;
    background-color: #df0202;
    width:260px;
    text-align: center;
    left: 100%;
    top: 100%;
    padding: 8px 8px;
    margin-left:0px;
    margin-top:15px;
    border-radius: 20px;
    border-color:#df0202;
    border: #e20606;
    font-size: 15px;
    clear: both;
    float: right;
    -webkit-box-shadow: 0 8px 30px 0 #c5c5c5;
    box-shadow: 0 3px 6px 0 #c5c5c5;
}

#ganhos {
    color: white;
    background-color: #62a850;
    width:326px;
    text-align: center;
    left: 100%;
    top: 100%;
    padding: 8px 8px;
    margin-left:0px;
    margin-top:15px;
    border-radius: 20px;
    border-color:#1f9900;
    border: #1f9900;
    font-size: 15px;
    clear: both;  
    max-width: 80%;
    max-height: 400px;
    overflow: scroll;
    -webkit-box-shadow: 0 8px 30px 0 #c5c5c5;
    box-shadow: 0 3px 6px 0 #c5c5c5;
}

#gastos {
    color: white;
    background-color: #ff4e4e;
    width:326px;
    text-align: center;
    left: 100%;
    top: 100%;
    padding: 8px 8px;
    margin-left:0px;
    margin-top:15px;
    border-radius: 20px;
    border-color:#df0202;
    border: #e20606;
    font-size: 15px;
    clear: both;
    float: right;
    max-width: 80%;
    max-height: 400px;
    overflow: scroll;
    -webkit-box-shadow: 0 8px 30px 0 #c5c5c5;
    box-shadow: 0 3px 6px 0 #c5c5c5;
}

#botaoValor1 {
    color: white;
    background-color: #93ce84;
    width:210px;
    text-align: absolute;
    left: 100%;
    top: 100%;
    padding: 8px 8px;
    margin-left:0px;
    margin-top:15px;
    border-radius: 20px;
    border-color:#ffffff;
    border: #ffffff;
    font-size: 15px;
    clear: both;
    transition: all.4s ease-out;
}

#botaoValor1:hover {
    background-color: #32CD32;
    color: #fff;
}


#botaoValor2 {
    color: white;
    background-color: #ce8484;
    width:210px;
    text-align: absolute;
    left: 100%;
    top: 100%;
    padding: 8px 8px;
    margin-left:0px;
    margin-top:15px;
    border-radius: 20px;
    border-color:#ffffff;
    border: #ffffff;
    font-size: 15px;
    clear: both;
    transition: all.4s ease-out;
}

#botaoValor2:hover {
    background-color: #FF0000;
    color: #fff;
}

tr {
    border-radius: 12px;
}

td, th {
    overflow: hidden;
    padding: 12px;
}

td {
    text-align: center;
    cursor: pointer;
}
th {
    pointer-events: none;
}

tr:hover {
    background-color: #93ce84;
    border-radius: 20px;
    clear: both;
    transition: all.4s ease-out;
    background-color: #72595938;
}

table {
    border-collapse: collapse;
    border-spacing: 0 8px;
    margin-top: -8px;     
}

div.container {
    overflow: scroll;
    border-top-left-radius: 18px; 
    border-top-right-radius: 18px; 
    box-shadow: 8px 8px 20px -8px rgb(172, 172, 172);
}
.container::-webkit-scrollbar {
    background-color: transparent;
    width: 0.2px;
}

input[type=text], input[type=number]  {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 5px;
    width: 80%;
    border-radius: 22px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;    
}



#blocoDeGanhos {
    display: inline-block;
    margin-left: 24%;
}
  #blocoDeGastos {
    float: right;
    margin-right: 24%;
}