* {
  box-sizing: border-box;
}

#descricao {
  margin: 25px;
  text-align: center;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(207, 207, 207, 0.445);
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #7b2cbf;
  color: white;
}

.brand-title {
  font-size: 2.5rem;
  margin: .4rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: #9d4edd;
  border-radius: 12px;
  box-shadow: 0 10px 30px 0 #5a189a;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
  }
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);

section{
  text-align:center;
}
.footer #button{
	width:35px;
	height:35px;
	border: #5a189a 12px solid;
	border-radius:35px;
	margin:0 auto;
	position:relative;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.footer #button:hover{
	width:35px;
	height:35px;
	border: #9d4edd 12px solid;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	position:relative;
}
.footer {
	bottom:0;
	left:0;
	position:fixed;
    width: 100%;
    height: 2em;
    overflow:hidden;
    margin:0 auto;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	z-index:999;
}
.footer:hover {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	height: 10em;
}
.footer #container{
	margin-top:5px;
	width:100%;
  height:100%;
  position:relative;
  top:0;
  left:0;
	background: #5a189a;
}
.footer #cont{
  position:relative;
  top:-45px;
  right:190px;
	width:150px;
	height:auto;
	margin:0 auto;
}
.footer_center{
	width:500px;
	float:left;
  text-align:center;
}
.footer h3{
	font-family: sans-serif;
	font-size: 20px;
	font-weight: 100px;
	margin-top:80px;
	margin-left:40px;
  color: white;
}

#verMais {
  width: 100px;
  height: 40px;
  background-color: #9d4edd;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  text-align: center;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0 2px 2px 0 #5a189a;
}

#card{
  max-width: 100%;
  margin-left: 20%;
  margin-right: 20%;

}
.card {
  margin-top: 3%;
  background-color: #5a189a;
  align-items: center;
  color: white;  
  border-radius: 12px;
  max-width: 80%;
  max-height: 40%;
}

iframe {
  
  height: 250px;
  width: 100%;
  margin: 2%;
  border-radius: 12px;
  border-width: 3px;
  border-color: white;
  box-shadow: 0 2px 5px 0 #5c5c5c;
}

#artigo {
  text-decoration: none;
  color: white;
}

#artigo:hover {
  background-color: #f1e0ff13;
  box-shadow: 0 10px 30px 0 #5a189a;
}

#esqueceu {
  text-decoration: none;
  color: white;
}

img {
  border-radius: 12px;
  max-height: 80%;
  max-width: 94%;
  margin: 2%;
  border-color: white;
  border-style: groove;
}

.btn-primary {
  background-color:#9d4edd;
  border-color: #9d4edd;
}
.btn-primary:hover {
  background-color: #5a189a ;
}

#contato {
  justify-content: space-between;
  text-align: center;
  align-items: center;
  display: flex;
  max-width: 100%;
}

#myChart {
  width:80%;
  height:40%;
}